<ion-content>

  <ion-card>
    <ion-card-header>
      <div class="logo" ></div>
      <div class="pfp"></div>
    </ion-card-header>
  
    <ion-card-content>
      <div class="input-group">
        <p>Username</p>
        <ion-input type="text" widht="100%" height="auto"></ion-input>
      </div>
      <div class="input-group">
        <p>Password</p>
        <ion-input  type="password"></ion-input>
      </div>
  
      <button expand="block" class="login-btn">
        Login
       </button>
       <div class="signup-link">
        Didn't have an account?
        <a href="#">
         Sign Up
        </a>
        </div>
    </ion-card-content>
  
  </ion-card>
  
  </ion-content>