<ion-content
  style="
    --background: radial-gradient(
      circle at 10% 20%,
      rgb(149, 219, 254) 0%,
      rgb(7, 134, 197) 90.1%
    );
    z-index: 10;
  "
>
  <div
    style="
      overflow: hidden;
      box-shadow: 5px 5px 10px #0b0b0b;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 320px;
      border-radius: 50px;
      margin-bottom: 10px;
      z-index: 30;
      top: -50px;
    "
  >
    <div
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.482);
      "
    >
  </div>

  
  <div
    style="
    background: url('../../assets/master_file/SPORTFLUX-LOGO.png') no-repeat center;
    background-size: contain; /* Memastikan gambar tetap proporsional */
    height: 100px; /* Atur sesuai kebutuhan */
    width: 40%; /* Atur lebar sesuai kebutuhan, bisa diubah menjadi pixel atau persen */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3px; /* Opsional */
    ">
</div>


  <div
  style="
    box-shadow: 5px 5px 10px #0b0b0b;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    z-index: 50;
    bottom: 100px;
    left: 20px;
  ">
  <div
    style="
      background: url(https://www.w3schools.com/w3css/img_avatar2.png);
      position: absolute;
      width: 100px;
      height: 100px;
      background-size: 100px 100px;
    "
  ></div>
</div>

    <div
      style="
        box-shadow: 5px 5px 10px #0b0b0b;
        overflow: hidden;
        position: absolute;
        border-radius: 20px;
        width: 100px;
        height: 100px;
        z-index: 50;
        bottom: 100px;
        left: 20px;
      "
    >
      <div
        style="
          background: url(https://www.w3schools.com/w3css/img_avatar2.png);
          position: absolute;
          width: 100px;
          height: 100px;
          background-size: 100px 100px;
        "
      ></div>
    </div>
    <div
      style="
        position: absolute;
        border-radius: 18px;
        background: rgba(0, 0, 0, 0.482);
        box-shadow: 5px 5px 10px #0b0b0b;
        bottom: 100px;
        left: 140px;
        right: 20px;
        width: auto;
        height: 100px;
      "
    >

      <p
        style="
          position: absolute;
          width: 100%;
          padding-left: 5px;
          padding-right: 5px;
          left: 10px;
          font-weight: bold;
          color: white;
        "
      >
        SportFLux USER 1
      </p>
      <p
        style="
          position: absolute;
          padding-left: 5px;
          padding-right: 5px;
          left: 10px;
          font-weight: bold;
          top: 25px;
          background: green;
          color: white;
          border-radius: 20px;
        "
      >
        80% Healty<ion-icon name="accessibility" class="icon"></ion-icon>
      </p>
      <p
        style="
          position: absolute;
          padding-left: 5px;
          padding-right: 5px;
          left: 10px;
          font-weight: bold;
          top: 50px;
          background: rgb(0, 90, 90);
          color: white;
          border-radius: 20px;
        "
      >
        100 EMG Record<ion-icon class="icon" name="pulse"></ion-icon>
      </p>

      
    <div style="
     background: url('../../assets/master_file/FREE.png') no-repeat center;
    background-size: contain;
    width: 30%; /* Atur lebar sesuai kebutuhan */
    height: 100px; /* Atur tinggi sesuai kebutuhan */
    position: absolute;
    right: 0; /* Agar elemen berada di sisi kanan */
      
"
>

</div>
    </div>
    <div
      style="
        position: absolute;
        width: 100vw;
        bottom: 40px;
        height: 50px;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
      "
    >
      <ion-button
        shape="round"
        expand="full"
        style="font-weight: bold; color: white; --background: rgba(0, 0, 0, 0.482)"
        >Change Profile </ion-button>
    </div>
  </div>

  <div class="activity">
    <h3>
     My Activity
    </h3>
    <div class="record">
     <img alt="EMG Icon" class="uji" src="../../assets/master_file/alatuji.png" />
     <div class="record-info">
      <p class="badge">
        EMG Record
      </p>
      <p>
       Devices: 5
      </p>
      <p>
       Channel: 10
      </p>
      <p>
       Status: Diagnosed
      </p>
     </div>
     <img alt="Exclusive Badge" height="50" src="../../assets/master_file/PREMIUM.png" width="50"/>
    </div>
    <div class="record">
      <img alt="EMG Icon" class="uji" src="../../assets/master_file/alatuji.png" />

     <div class="record-info">
      <p class="badge">
        EMG Record
      </p>
      <p>
       Devices: 3
      </p>
      <p>
       Channel: 6
      </p>
      <p>
       Status: Recorded
      </p>
     </div>
     <img alt="Exclusive Badge" height="50" src="../../assets/master_file/FREE.png" width="50"/>
    </div>
    <div class="record">
      <img alt="EMG Icon" class="uji" src="../../assets/master_file/alatuji.png" />

     <div class="record-info">
      <p class="badge">
        EMG Record
      </p>
      <p>
       Devices: 10
      </p>
      <p>
       Channel: 20
      </p>
      <p>
       Status: Followed
      </p>
     </div>
     <img alt="Exclusive Badge" height="50" src="../../assets/master_file/FREE.png" width="50"/>
    </div>

    <div class="record">
      <img alt="EMG Icon" class="uji" src="../../assets/master_file/alatuji.png" />

     <div class="record-info">
      <p class="badge">
        EMG Record
      </p>
      <p>
       Devices: 10
      </p>
      <p>
       Channel: 20
      </p>
      <p>
       Status: Followed
      </p>
     </div>
     <img alt="Exclusive Badge" height="50" src="../../assets/master_file/FREE.png" width="50"/>
    </div>
   </div>
          
</ion-content>
